Filtrado.py
validador_restricciones.py
Codigo/chatbotBeta.py
Codigo/chatbotBetaFast.py
Codigo/dataset_lematizado.pkl
Codigo/dataset_seguro.pkl
Codigo/distribucion_ingredientes.png
Codigo/matriz_menu.pkl
Codigo/modelo_nlu_svm.pkl
Codigo/vectorizador_tfidf.pkl
Codigo/__pycache__/chatbot.cpython-312.pyc
Codigo/__pycache__/chatbot.cpython-313.pyc
Dataset/recipes_extended.csv
Dataset/recipes_extended.json
Dataset/RecorteAnalisis.csv
Documentacion/delimitacion/delimitacion.aux
Documentacion/delimitacion/delimitacion.fdb_latexmk
Documentacion/delimitacion/delimitacion.fls
Documentacion/delimitacion/delimitacion.log
Documentacion/delimitacion/delimitacion.pdf
Documentacion/delimitacion/delimitacion.synctex.gz
Documentacion/delimitacion/delimitacion.tex
Documentacion/delimitacion/indent.log
Documentacion/Planeacion/planeacion.aux
Documentacion/Planeacion/planeacion.fdb_latexmk
Documentacion/Planeacion/planeacion.fls
Documentacion/Planeacion/planeacion.log
Documentacion/Planeacion/planeacion.pdf
Documentacion/Planeacion/planeacion.synctex.gz
Documentacion/Planeacion/planeacion.tex
Documentacion/ReporteFinal/estilos.cls
Documentacion/ReporteFinal/main.aux
Documentacion/ReporteFinal/main.fdb_latexmk
Documentacion/ReporteFinal/main.fls
Documentacion/ReporteFinal/main.log
Documentacion/ReporteFinal/main.out
Documentacion/ReporteFinal/main.pdf
Documentacion/ReporteFinal/main.synctex.gz
Documentacion/ReporteFinal/main.tex
Codigo/chatbot_italiano.py
antigravity_config/mission_prompts.md
antigravity_config/.antigravity/rules.md
Codigo/test_chatbot.py
codigo/test_nlu.py
